.button-style-title {
    -fx-background-color: #E3E0E0;
    -fx-border: none;
    -fx-background-radius: 10;
    -fx-color: #554D4D;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-text-fill: #554D4D;
}

.button-style-bottombar {
    -fx-background-color: #1974fd; 
    -fx-border: none;
    -fx-background-radius: 10;
    -fx-color: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-text-fill: white;
}

.button-style-normal {
    -fx-background-color: #E3E0E0; 
    -fx-border: none;
    -fx-background-radius: 10;
    -fx-color: #1974fd;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-text-fill: #1974fd;
}

