.search-text-field {
    -fx-background-color: #E3E0E0;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    border-radius: 15;
    -fx-font-size: 20;
    font-size: 20;
    -fx-font-weight: bold;
    font-weight: bold;
    -fx-text-fill: #554D4D;
    -fx-prompt-text-fill: #554D4D;
}
